

{% extends "header.html" %}

{% block content %}

<body>

    <div class="main-color wrapper w3-row w3-mobile">
        {% include "navbar.html" %}

        <div class="w3-display-container w3-mobile main-color">
            <img src="{{ url_for('static', filename='img/background_compressed.JPG') }}" alt="image not found :^)" class="w3-center header-img">


            <div class="w3-hide-large">
                <div class="w3-col" style="width: 10%;">
                    <p></p>
                </div>
                <div class="w3-container w3-mobile w3-padding-large w3-padding-32 w3-text-sand main-color w3-col center-text"
                    style="width: 40%;">
                    <h2>Contact info</h2>
                    <p>You can reach me via the following ways</p>
                    <ul>
                        <li>Email: lari@kuistio.me</li>
                        <li>Telegram: <a href="https://t.me/vivian11">https://t.me/vivian11</a></li>
                        <li>LinkedIn: <a
                                href="https://www.linkedin.com/in/larikuistio/">https://www.linkedin.com/in/larikuistio/</a>
                        </li>
                        <li>GitHub: <a href="https://github.com/larikuistio">https://github.com/larikuistio</a></li>
                    </ul>

                </div>
                <div class="w3-container w3-mobile w3-padding-large w3-padding-32 w3-text-sand main-color w3-col center-text w3-center"
                    style="width: 40%;">
                    <img src="{{ url_for('static', filename='img/me0_compressed.jpg') }}" class="avatar-round-small" alt="image not found :^)">

                </div>
                <div class="w3-col" style="width: 10%;">
                    <p></p>
                </div>
            </div>



            <div class="w3-hide-medium w3-hide-small">
                <div class="w3-col" style="width: 25%;">
                    <p></p>
                </div>
                <div class="w3-container w3-mobile w3-padding-large w3-padding-64 w3-text-sand main-color w3-col center-text"
                    style="width: 25%;">
                    <h2>Contact info</h2>
                    <p>You can reach me via the following ways</p>
                    <ul>
                        <li>Email: lari@kuistio.me</li>
                        <li>Telegram: <a href="https://t.me/vivian11">https://t.me/vivian11</a></li>
                        <li>LinkedIn: <a
                                href="https://www.linkedin.com/in/larikuistio/">https://www.linkedin.com/in/larikuistio/</a>
                        </li>
                        <li>GitHub: <a href="https://github.com/larikuistio">https://github.com/larikuistio</a></li>
                    </ul>

                </div>
                <div class="w3-container w3-mobile w3-padding-large w3-padding-64 w3-text-sand main-color w3-col center-text w3-center"
                    style="width: 25%;">
                    <img src="{{ url_for('static', filename='img/me0_compressed.jpg') }}" class="avatar-round" alt="image not found :^)">

                </div>
                <div class="w3-col" style="width: 25%;">
                    <p></p>
                </div>
            </div>

            <div class="w3-padding-64">
                <p></p>
            </div>
            <div class="w3-padding-64">
                <p></p>
            </div>
            <div class="w3-padding-64">
                <p></p>
            </div>

            {% include "footer.html" %}

        </div>


    </div>
</body>

{% endblock %}
