<footer class="w3-container w3-center w3-mobile w3-padding-large w3-padding-64 w3-justify w3-text-sand main-color"
    style="min-height: 25%;">

    <div class="w3-mobile w3-padding-large w3-hide-small w3-hide-medium">
        <a href='http://ipv6-test.com/validate.php?url=referer'><img class="w3-image w3-padding-large"
                src="{{ url_for('static', filename='img/banner_ipv6.png') }}" alt='ipv6 ready' title='ipv6 ready' style="max-width: 30%;"></a>
        <a href='https://validator.w3.org/'><img class="w3-image w3-padding-large" src="{{ url_for('static', filename='img/valid-xhtml10.png') }}"
                alt='image not found :^)' style="max-width: 30%;"></a>
        <a href='https://jigsaw.w3.org/css-validator/'><img class="w3-image w3-padding-large" src="{{ url_for('static', filename='img/vcss.gif') }}"
                alt='image not found :^)' style="max-width: 30%;"></a>
        <a href='https://anybrowser.org/campaign/index.html'><img class="w3-image w3-padding-large" src="{{ url_for('static', filename='img/w3c_ab.png') }}"
                alt='image not found :^)' style="max-width: 30%;"></a>
        <a href="https://www.freebsd.org/"><img class="w3-image w3-padding-large" src="{{ url_for('static', filename='img/banner_freebsd.gif') }}"
                style="max-width: 30%;" alt="image not found :^)"></a>
        <a href='https://nmap.org/'><img class="w3-image w3-padding-large" src="{{ url_for('static', filename='img/banner_nmap.gif') }}"
                alt="image not found :^)" style="max-width: 30%;"></a>
    </div>
    <div class="w3-mobile w3-padding-large w3-hide-small w3-hide-large">
        <a href='http://ipv6-test.com/validate.php?url=referer'><img class="w3-image w3-padding-large"
                src="{{ url_for('static', filename='img/banner_ipv6.png') }}" alt='ipv6 ready' title='ipv6 ready' style="max-width: 60%;"></a>
        <a href='https://validator.w3.org/'><img class="w3-image w3-padding-large" src="{{ url_for('static', filename='img/valid-xhtml10.png') }}"
                alt='image not found :^)' style="max-width: 60%;"></a>
        <a href='https://jigsaw.w3.org/css-validator/'><img class="w3-image w3-padding-large" src="{{ url_for('static', filename='img/vcss.gif') }}"
                alt='image not found :^)' style="max-width: 60%;"></a>
        <a href='https://anybrowser.org/campaign/index.html'><img class="w3-image w3-padding-large" src="{{ url_for('static', filename='img/w3c_ab.png') }}"
                alt='image not found :^)' style="max-width: 60%;"></a>
        <a href="https://www.freebsd.org/"><img class="w3-image w3-padding-large" src="{{ url_for('static', filename='img/banner_freebsd.gif') }}"
                style="max-width: 60%;" alt="image not found :^)"></a>
        <a href='https://nmap.org/'><img class="w3-image w3-padding-large" src="{{ url_for('static', filename='img/banner_nmap.gif') }}"
                alt="image not found :^)" style="max-width: 60%;"></a>
    </div>
    <div class="w3-mobile w3-padding-large w3-hide-large w3-hide-medium">
        <a href='http://ipv6-test.com/validate.php?url=referer'><img class="w3-image w3-padding-large"
                src="{{ url_for('static', filename='img/banner_ipv6.png') }}" alt='ipv6 ready' title='ipv6 ready' style="max-width: 100%;"></a>
        <a href='https://validator.w3.org/'><img class="w3-image w3-padding-large" src="{{ url_for('static', filename='img/valid-xhtml10.png') }}"
                alt='image not found :^)' style="max-width: 100%;"></a>
        <a href='https://jigsaw.w3.org/css-validator/'><img class="w3-image w3-padding-large" src="{{ url_for('static', filename='img/vcss.gif') }}"
                alt='image not found :^)' style="max-width: 100%;"></a>
        <a href='https://anybrowser.org/campaign/index.html'><img class="w3-image w3-padding-large" src="{{ url_for('static', filename='img/w3c_ab.png') }}"
                alt='image not found :^)' style="max-width: 100%;"></a>
        <a href="https://www.freebsd.org/"><img class="w3-image w3-padding-large" src="{{ url_for('static', filename='img/banner_freebsd.gif') }}"
                style="max-width: 100%;" alt="image not found :^)"></a>
        <a href='https://nmap.org/'><img class="w3-image w3-padding-large" src="{{ url_for('static', filename='img/banner_nmap.gif') }}"
                alt="image not found :^)" style="max-width: 100%;"></a>
    </div>
</footer>