
{% extends "header.html" %}

{% block content %}

<body>

    <div class="main-color wrapper w3-row w3-mobile">
        {% include "navbar.html" %}

        <div class="w3-display-container w3-mobile main-color">
            <img src="{{ url_for('static', filename='img/background_compressed.JPG') }}" alt="image not found :^)" class="w3-center header-img">


            <div class="w3-hide-large">
                <div class="w3-col" style="width: 10%;">
                    <p></p>
                </div>
                <div class="w3-container w3-center w3-mobile w3-padding-large w3-padding-32 w3-justify w3-text-sand main-color w3-col center-text"
                    style="width: 80%;">
                    <h2>Welcome to my little corner of the web</h2>
                    <p>My name is Lari Kuistio, and this is my little website. I'm studying Computer Science and
                        Engineering
                        at the
                        University of Oulu, and I'm currently working towards my bachelor's degree. I like computers and
                        technology a
                        whole lot, especially open source software and unix-like operating systems. I'm 21 years old, I
                        grew
                        up in Rovaniemi,
                        and currently live in Oulu.
                    </p>
                    <p>I have been studying CSE at the University of Oulu since autumn 2018. I'm currently working as a
                        L1
                        software intern at Mediatek.</p>
                    <p>This page is a work in progress</p>
                </div>
                <div class="w3-col" style="width: 10%;">
                    <p></p>
                </div>
            </div>


            <div class="w3-hide-medium w3-hide-small">
                <div class="w3-col" style="width: 25%;">
                    <p></p>
                </div>
                <div class="w3-container w3-center w3-mobile w3-padding-large w3-padding-64 w3-justify w3-text-sand main-color w3-col center-text"
                    style="width: 50%;">
                    <h2>Welcome to my little corner of the web</h2>
                    <p>My name is Lari Kuistio, and this is my little website. I'm studying Computer Science and
                        Engineering
                        at the
                        University of Oulu, and I'm currently working towards my bachelor's degree. I like computers and
                        technology a
                        whole lot, especially open source software and unix-like operating systems. I'm 21 years old, I
                        grew
                        up in Rovaniemi,
                        and currently live in Oulu.
                    </p>
                    <p>I have been studying CSE at the University of Oulu since autumn 2018. I'm currently working as a
                        L1
                        software intern at Mediatek.</p>
                    <p>This page is a work in progress.</p>
                </div>
                <div class="w3-col" style="width: 25%;">
                    <p></p>
                </div>
            </div>


            <div class="w3-padding-64">
                <p></p>
            </div>
            <div class="w3-padding-64">
                <p></p>
            </div>
            <div class="w3-padding-64">
                <p></p>
            </div>


            {% include "footer.html" %}

        </div>


    </div>
</body>


{% endblock %}

