<div class="w3-bar w3-mobile w3-text-sand main-color w3-hide-small menu-bar">
    <a href="{{ url_for('frontpage') }}" class="w3-bar-item w3-button w3-mobile w3-border">
        <h6>Frontpage</h6>
    </a>
    <a href="{{ url_for('contact') }}" class="w3-bar-item w3-button w3-mobile w3-border">
        <h6>Contact</h6>
    </a>
</div>
<div class="w3-bar w3-mobile w3-text-sand main-color w3-hide-large w3-hide-medium menu-bar">
    <a href="{{ url_for('frontpage') }}" class="w3-bar-item w3-button w3-mobile w3-border">
        <h6>Frontpage</h6>
    </a>
    <div class="w3-mobile w3-border">
        <button onclick="navbarDropdown()" class="w3-bar-item w3-button w3-border w3-mobile">Menu</button>
        <div id="navbarDropdown" class="w3-show w3-mobile">
            <a href="{{ url_for('contact') }}" class="w3-bar-item w3-button w3-mobile w3-border">
                <h6>Contact</h6>
            </a>
        </div>
        <script>
            var x = document.getElementById("navbarDropdown");
            x.className = x.className.replace("w3-show", "w3-hide");
        </script>
    </div>

</div>